<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Генератор ТЗ -- PARKONIKA</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body class="vh-100">
  <header class="header w-100 bg-gradient m-1 border border-0 rounded" style="height: 5%;">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand w-25">Parkonika</a>
    <ul class="navbar-nav w-100 justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" aria-disabled="true" href="../services.html">На главную</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="../login.html" >Выход</a>
      </li>
    </ul>
    <div class="w-25"></div>
  </div>
</nav>
  </header>
  <div class="main w-100" style="height: 95%;">
    <div class="container h-100">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="./main.html">Ваши ТЗ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./shared.html">Доступные ТЗ</a>
        </li>
        </li>
      </ul>

      <div class="row h-100 align-items-start mt-5">

        <div class="col-sm-3 h-25">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Создать новое ТЗ</h5>
              <p class="card-text">Перейти к выбору блоков</p>
            </div>
            <a href="./generator.html" class="btn btn-primary m-3">Создать</a>
          </div>
        </div>

        <div class="col-sm-3 h-25">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Название ТЗ</h5>
              <p class="card-text">Какой-то текст для пояснения</p>
              <p class="card-text"><small class="text-muted">Последнее изменение: 04.11.2023 2:37</small></p>
            </div>
            <a href="./editor.html" class="btn btn-primary m-3">Открыть</a>
          </div>
        </div>

        <div class="col-sm-3 h-25">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Название ТЗ</h5>
              <p class="card-text">Какой-то текст для пояснения</p>
              <p class="card-text"><small class="text-muted">Последнее изменение: 04.11.2023 2:37</small></p>
            </div>
            <a href="./editor.html" class="btn btn-primary m-3">Открыть</a>
          </div>
        </div>

         <div class="col-sm-3 h-25">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Название ТЗ</h5>
              <p class="card-text">Какой-то текст для пояснения</p>
              <p class="card-text"><small class="text-muted">Последнее изменение: 04.11.2023 2:37</small></p>
            </div>
            <a href="./editor.html" class="btn btn-primary m-3">Открыть</a>
          </div>
        </div>

      </div>

    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>